// Задний фон для модальных окон
$overlayBackgroundColor: rgba(0, 0, 0, 0.5);

$font: Roboto, arial;
$rouble: Rouble;

$fontSize: (
    h1:                30px,    // заголовок страницы
    h2:                22px,    // заголовок второго уровня
    h3:                16px,    // заголовок третьего уровня
    norma:             14px,    // основной размер шрифта
    normaMinus:        14px,    // уменьшенный размер шрифта
    normaPlus:         16px,    // увеличенный размер шрифта
    priceNone:         15px,    // нет цены (цена по запросу)
    priceNoneBig:      20px,    // нет цены (цена по запросу) в карточке единицы (техники, товара)
    price:             22px,    // цена в списке техники
    priceBig:          31px,    // цена в карточке единицы (техники, товара)
    privacyPolicy:     12px,    // текст политики конфидициальности
    presence:          15px,    // в наличии/под заказ
    input:             14px,    // текстовые поля
    textarea:          14px,    // текстовые поля
);

$lineHeight: (
    h1:                34px,
    h2:                26px,
    h3:                24px,
);

$padding: 70px 0; // внутренний отступ секции/блока.

$margin: (
    h1:         0,              // заголовок страницы
    h2:         40px 0 20px,    // заголовок второго уровня
    h3:         20px 0 15px,    // заголовок третьего уровня
    block:      0 0 70px,       // основной отступ снизу блока.
    block2:     0 0 50px,       // дополнительный отступ снизу блока, уменьшенный.
    p:          0 0 15px,       // абзац
    ul:         0 0 15px,       // маркированный список
    ol:         0 0 15px,       // нумерованный список
    table:      0 0 15px,       // таблица
    hr:         40px 0          // разделитель
);
