//include: cssfile[promo] scriptfile[promo]

+b.promo
    +e.slider
        +e.slider-inner
            +e.slider-content
                +e.slide
                    +e.image
                        img(src="img/promo/slide-01.png" alt="")
                    +e.content
                        +e.title1
                            | Жизнь
                            br
                            | полна
                            br
                            | идей
                            img(src="img/semicircle02.png" alt="")
                        +e.title2
                            | как
                            br
                            | и наша
                            br
                            | мебель
                        a(href="#").btn.btn-primary Заказать консультацию
                +e.slide
                    +e.image
                        img(src="img/promo/slide-01.png" alt="")
                    +e.content
                        +e.title1
                            | Жизнь
                            br
                            | полна
                            br
                            | идей
                            img(src="img/semicircle02.png" alt="")
                        +e.title2
                            | как
                            br
                            | и наша
                            br
                            | мебель
                        a(href="#").btn.btn-primary Заказать консультацию
        .promo__dots
            .dots