//include: cssfile[promo] scriptfile[]

+b.promo
    +e.slide
        +e.image
            img(src="img/promo/slide-01.png" alt="")
        +e.content
            +e.title1
                | Жизнь
                br
                | полна
                br
                | идей
                img(src="img/semicircle02.png" alt="")
            +e.title2
                | как
                br
                | и наша
                br
                | мебель
            a(href="#").btn.btn-primary Заказать консультацию
