//include: cssfile[block-count-your-idea] scriptfile[]

+b.block.block-count-your-idea
    .info
        +e.H2.title
            | Посчитай
            br
            | свою
            br
            | идею
            img(src="img/semicircle02.png" alt="")
        .body Каждый проект требует  индивидуального подхода  создайте свой в нашем  конструторе
        a.btn.btn-primary(href="#") Конструктор
    .item.item-fast.item_red
        .item-title Быстро
        .item-body
            | Все изменения
            br
            | в калькуляторе
            br
            | пересчитываются
            br
            | в режиме онлайн
    .item.item-contents
        .item-title Наполнение
        .item-body
            | Масса вариантов
            br
            | для вашей фантазии,
            br
            | в нашем конструкторе
            br
            | мебели
    .item.item-simply
        .item-title Просто
        .item-body
            | Вам нужно только ввести
            br
            | данные своего проекта,
            br
            | конструктор сам все посчитает
    .item.item-ticket
        img(src="img/ticket.png" alt="")
        .item-title
            | Расчет
            br
            | вашей
            br
            | комнаты
            img(src="img/semicircle03.png" alt="")
        .item-price 28 000 р.


