//include: cssfile[block-order-free-payment] scriptfile[]

+b.block.block-order-free-payment
    .info
        +e.H2.title
            | Закажи
            br
            | бесплатный
            br
            | расчет
            img(src="img/semicircle02.png" alt="")
        +e.H2.title2
            | и получи
            br
            | скидку
        img.percent(src="img/5.png" alt="")
    include ../../webforms/calculate-cost-2









