//include: cssfile[block-quality] scriptfile[]

+b.block.block-quality
    +e.H2.title
        | Качество
        br
        | проверенное
        br
        | временем
        img(src="img/semicircle02.png" alt="")
    +e.item_order
        div
            .title Как заказать
            .body Заказать нашу мебель очень просто, читайте подробно в этом разделе
        img(src="img/block-quality/01.png" alt="")
    +e.item_sales
        div
            .title Акции и скидки
            .body Мы любим радовать своих клиентов выгодными предложениями
        img(src="img/block-quality/02.png" alt="")
    +e.item_review
        div
            .title Отзывы
            .body Заказать нашу мебель очень просто, читайте подробно в этом разделе
        img(src="img/block-quality/03.png" alt="")
    +e.item_articles
        div
            .title Cтатьи
            .body Интересная информация о новостях в мире мебели и нашей компании
        img(src="img/block-quality/04.png" alt="")
    +e.item_furniture
        div
            .title Мебель призвана украшать интерьер
            .body
                p Делать дом функциональным, а проживание в нем - комфортным.
                p Она должна радовать Вас долгие годы,а не несколько недель или месяцев. Поэтому выбирайте лучшее для себя и для своего дома!
        a.btn.btn-primary(href="#") Заказать консультацию