//include: cssfile[block-why-choose-us] scriptfile[]

+b.block.block-why-choose-us
    +e.H2.title
        | Почему
        br
        | выбирают
        br
        | нас
        img(src="img/semicircle02.png" alt="")

    img.img-1(src="img/block-why-choose-us/01.jpg" alt="")
    img.img-2(src="img/block-why-choose-us/02.jpg" alt="")
    img.img-3(src="img/block-why-choose-us/03.jpg" alt="")
    img.img-4(src="img/block-why-choose-us/04.jpg" alt="")
    +e.text.group-1
        +e.text-name
            | С вами
            br
            | будет
            br
            | работать
            br
            | Команда профессионалов
        +e.text-body
            | Все, кто работают над
            br
            | изготовлением Вашей мебели —
            br
            | дизайнер- консультант, мастер,
            br
            | технолог - профессионалы в своем
            br
            | деле
    +e.text-percent.group-2
        +e.text-percent-value -%
        +e.text-percent-name
            | не экономим
            br
            | на деталях
        img(src="img/semicircle02.png" alt="")
    +e.text.group-3
        +e.text-name
            | У нас
            br
            | есть
            br
            | собственное
            br
            | производство
        +e.text-body
            | Наше производство
            br
            | с современным оборудованием
            br
            | находится в городе Челябинске.
    +e.text.group-4
        +e.text-name
            | Raumplus
            br
            | единственный
            br
            | бренд салон
            br
            | Челябинска
        +e.text-body
            | Это гарантия качества,
            br
            | а главное — подлинности
            br
            | Вашего изделия
    +e.text-years.group-5
        +e.text-years-value 14
        +e.text-years-name лет опыта
        img(src="img/semicircle02.png" alt="")



