//include: cssfile[block] scriptfile[]
//include: cssfile[block-NAME] scriptfile[]

.block.block-NAME
    .block__header
        h2.block__title Заголовок
    .block__content Контент
    .block__footer Подвал