//include: cssfile[info-calculate-cost] scriptfile[]

+b.info-calculate-cost
    img.bg-img(src="img/img-01.png" alt="")
    +e.title Вы получите примерный расчет
        img(src="img/semicircle03.png" alt="")
    +e.text
        p Оператор перезвонит вам для более подробной консультации.
        p Мы не рассылаем спам, только персональные предложения