//include: cssfile[header] scriptfile[]

+b.header
    +e.logo
        | Дизайн.
        br
        | Отделка.
        br
        | Мебель
    +e.location г.&nbsp;Челябтинск, ул.&nbsp;Сони Кривой, д.&nbsp;83
    +e.phones
        | Позвонить нам:
        a(href="tel:+73512356594") +7 (351) 235-65-94
    +e.burger