//include: cssfile[footer] scriptfile[]

+b.footer
    +e.top
        +e.menu
            +e.title О компании
            ul.menu
                li
                    a(href="#") О нас
                li
                    a(href="#") Raumplus
                li
                    a(href="#") Политика в области качества
                li
                    a(href="#") Отзывы
        +e.menu
            +e.title Дизайн, ремонт, отделка
            ul.menu
                li
                    a(href="#") Дизайн интерьера
                li
                    a(href="#") Трёхмерная визуализация
                li
                    a(href="#") Авторский надзор
                li
                    a(href="#") Ремонт под ключ
        +e.menu
            +e.title Клиентам
            ul.menu
                li
                    a(href="#") Акции и скидки
                li
                    a(href="#") Как заказать
                li
                    a(href="#") Способы оплаты
                li
                    a(href="#") Доставка и монтаж
                li
                    a(href="#") Видео
                li
                    a(href="#") Политика обработки персональных данных
        +e.menu
            +e.title Портфолио
            ul.menu
                li
                    a(href="#") Шкафы - купе
                li
                    a(href="#") Гардеробные комнаты
                li
                    a(href="#") Межеомнатные двери и перегородки
                li
                    a(href="#") Кабинеты и библиотеки
                li
                    a(href="#") Мебель для кухни
                li
                    a(href="#") Детские и подростковые комнаты
        +e.contacts
            +e.title Дизайнерам и архитекторам
            +e.title Контакты
            p
                | г. Челябинск,
                br
                | ул. Сони Кривой, д. 83
            p
                a(href="mailto:+73512356594") +7 (351) 235-65-94
            p
                a(href="mailto:alfakomfort@mail.ru") alfakomfort@mail.ru
            p
                a(href="#") Вконтакте
        +e.logo
            img(src="img/logo-02.png" alt="")
    +e.bottom
        +e.copyright © 2019 Бренд-салон raumplus, производственная компания D.O.M.
        +e.developer
            a(href="#") ribbla
