@import "../../styles/helpers/_helpers";

.teaser-projects {
    grid-column: span 4;
    padding: 34px 30px;
    &:hover {
        .field-image {
            box-shadow: 0px 40px 40px rgba(126, 136, 173, 0.25);
        }
    }
}
.field-image {
    margin: -34px -30px 34px;
    box-shadow: 0px 40px 40px transparent;
    transition: all 0.2s ease-in-out;
    img {
        display: block;
        width: 100%;
    }
}
.field-title {
    font-weight: 600;
    font-size: 24px;
    line-height: 25px;
    margin-bottom: 4px;
}
.field-body {
    font-size: 12px;
    line-height: 104%;
    color: #aa9fa1;
}
