//include: cssfile[teaser-projects] scriptfile[]

.teaser-projects
    .field-image
        img(src="img/our-projects/01.jpg" alt="")
    .field-title Кабинеты и библиотеки
    .field-body Для жилых и общественных помещений
.teaser-projects
    .field-image
        img(src="img/our-projects/02.jpg" alt="")
    .field-title Мебель для кухни
    .field-body Современные комплектующие
.teaser-projects
    .field-image
        img(src="img/our-projects/03.jpg" alt="")
    .field-title Детские и подростковые комнаты
    .field-body Из экологически чистых материалов
.teaser-projects
    .field-image
        img(src="img/our-projects/01.jpg" alt="")
    .field-title Кабинеты и библиотеки
    .field-body Для жилых и общественных помещений
.teaser-projects
    .field-image
        img(src="img/our-projects/02.jpg" alt="")
    .field-title Мебель для кухни
    .field-body Современные комплектующие
.teaser-projects
    .field-image
        img(src="img/our-projects/03.jpg" alt="")
    .field-title Детские и подростковые комнаты
    .field-body Из экологически чистых материалов