//include: cssfile[block-come-visit] scriptfile[]

+b.block.block-come-visit
    .image
        img(src="img/block-come-visit.png" alt='')
    +e.content
        +e.H2.title
            | Приходите
            br
            | в гости
            br
            | онлайн
            img(src="img/semicircle02.png" alt="")
        +e.H2.title2
            | лучше
            br
            | один раз
            br
            | увидеть
        a.btn.btn-primary(href="#")
            span 3D ТУР