//include: cssfile[block-our-projects] scriptfile[block-our-projects]

+b.block.block-our-projects
    +e.content
        +e.H2.title
            | Посмотрите
            br
            | на наши
            br
            | проекты
            img(src="img/semicircle02.png" alt="")
        +b.arrows
            +e.arrow.__prev
            +e.arrow.__next
        +e.slider
            +e.slider-inner
                +e.slider-content
                    include ../../teaser-projects/teaser-projects
